/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@font-face {

    font-family: 'Raleway-Bold' ;
    src:
    url('../DocumentFonts/Raleway-Bold.ttf')
    format('truetype');
 
 }

 @font-face {

    font-family: 'Raleway-BoldItalic' ;
    src:
    url('../DocumentFonts/Raleway-BoldItalic.ttf')
    format('truetype');
 
 }
 
 /* reset */
 
 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 dl,
 dt,
 dd,
 ol,
 nav ul,
 nav li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
 
     font-size: 100%;
     font-family: 'Raleway-Bold';
 
     vertical-align: baseline;
 }
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }
 
 ol,
 ul {
     list-style: none;
     margin: 0px;
     padding: 0px;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }
 
 
 body {
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     -ms-background-size: cover;
     background-position: center;
     font-size: 100%;
     font-family: 'Raleway-Bold', sans-serif;
     min-height: 100vh;
 }

 h1 {
    font-family: 'Raleway-BoldItalic', sans-serif;
    color: #7a6f7a34;
 }
 
 p {
     font-family: 'Raleway-Bold';
 }

 .btn {
    border: 2px solid white;
    border-radius: 25px;
    border-width: thick;
    font-family: 'Raleway-Bold';
    font-size: 50px;
    color: white;
    width: 200px;
    height: 200px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    line-height: 200px;
    cursor: pointer;
 }

 div[class = 'button'] {
    margin: 30px;
  }

 button[class = 'next'] {
    float: right;
    display: inline-block;
    width: auto;
    overflow: hidden;
    padding: 12px 20px;
    margin-top: 5px;
    border-radius: 35px;
    background: #C1C1C1;
    color :#FFFFFF;
    font-size: 20px;
    outline-width: 0;
    border: none;
    font-family: 'Raleway-Bold';
    cursor: pointer;
  }

 .teacher {
    background-color: #eca0be;
}

.teacher:hover {
    border-color: #7a6f7a34;
}

 .employer {
    background-color: #ae90b0;
}

 .employer:hover {
    border-color: #7a6f7a34;
 }

 .student {
    background-color: #6eba7f;
}
 .student:hover {
    border-color: #7a6f7a34;
 }
 
#roundedText {
     border-radius: 18px;
     background: #FFB6C1;
     padding: 20px; 
     width: 200px;
     height: 15px;    
 }
 
 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 20px;
 }
 
 