<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>

<title>Multi Tabs Resume Widget A Flat Responsive Widget Template :: W3layouts</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Multi Tabs Resume Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Custom-Style-Sheet -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!-- //Custom-Style-Sheet -->

<!-- Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" type="text/css" media="all">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"			   type="text/css" media="all">
<!-- //Fonts -->

<!-- Default-JavaScript --><script type="text/javascript" src="js/jquery.min.js"></script>

</head>
<!-- //Head -->



	<!-- Body -->
	<body>

		<h1>Home</h1>

		<div class="containerw3layouts-agileits">

			<div id="verticalTab" class="resp-vtabs w3-agile" style="display: block; width: 100%; margin: 0px;">

				<ul class="resp-tabs-list agileits-w3layouts">
					<li class="resp-tab-item"><span>Profile</span></li>
					<li class="resp-tab-item"><span>To Do</span></li>
					<li class="resp-tab-item agileinfo"><span>Classrooms</span></li>
					<li class="resp-tab-item"><span>Feedback</span></li>
					<li class="resp-tab-item"><span>Matches</span></li>
				</ul>

				<div class="resp-tabs-container">

					<div class="resp-tab-content">
						<div class="agileabout">
							<div class="agileabout-image w3-agileits">
								<img src="images/man.jpg" alt="W3layouts">
							</div>
							<div class="agileabout-info">
								<ul>
									<li><div class="li1">Name</div><div class="li2">:</div><div class="li3">Alan Parrish</div><div class="clearfix"></div></li>
									<li><div class="li1">Birthday</div><div class="li2">:</div><div class="li3">10/10/1990</div><div class="clearfix w3-agileits"></div></li>
									<li><div class="li1">Phone</div><div class="li2">:</div><div class="li3">001-8766488735</div><div class="clearfix"></div></li>
									<li><div class="li1">Email</div><div class="li2 agileinfo">:</div><div class="li3"><a class="mail" href="mailto:mail@example.com">info@example.com</a></div><div class="clearfix"></div></li>
									<li><div class="li1">Website</div><div class="li2">:</div><div class="li3"><a href="#">www.examplesite.com</a></div><div class="clearfix"></div></li>
									<li><div class="li1 agileinfo">Address</div><div class="li2">:</div><div class="li3 w3-agileits">Parma Via Modena, 40019, Sant'Agata Bolognese, BO, Italy</div><div class="clearfix wthree"></div></li>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</div>

					<div class="resp-tab-content">
						<div class="work">
							<div class="work-info agileits-w3layouts">
								<h4>2013 - 2016</h4>
								<h5>Company 2</h5>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
							</div>
							<div class="work-info agile">
								<h4>2009 - 2013</h4>
								<h5>Company 1</h5>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
							</div>
						</div>
					</div>

					<div class="resp-tab-content">
						<div class="classrooms">
						<a class="txt2" href="../AddClassroom/index.html">
							<button class="btn btn-success">
							Add a Classroom
							</button>
						</a>
						</div>
					</div>

					<div class="resp-tab-content">
						<div class="our-skills">
							<div class="single-skill">
								<p class="lead">HTML</p>
								<div class="progress">
									<div class="progress-bar progress-bar-1">90%</div>
								</div>
							</div>
							<div class="single-skill">
								<p class="lead">CSS</p>
								<div class="progress wthree">
									<div class="progress-bar progress-bar-2">80%</div>
								</div>
							</div>
							<div class="single-skill">
								<p class="lead">JAVASCRIPT</p>
								<div class="progress w3-agile">
									<div class="progress-bar progress-bar-3">85%</div>
								</div>
							</div>
							<div class="single-skill">
								<p class="lead">PHP</p>
								<div class="progress">
									<div class="progress-bar agile progress-bar-4">95%</div>
								</div>
							</div>
							<div class="single-skill">
								<p class="lead">SQL</p>
								<div class="progress w3layouts">
									<div class="progress-bar progress-bar-5">75%</div>
								</div>
							</div>
						</div>
					</div>

					<div class="resp-tab-content">						
						<div class="agileabout-info aitsabout">
							<ul>
								<li><div class="li1">Name</div><div class="li2 wthree">:</div><div class="li3">Alan Parrish</div><div class="clearfix w3-agile"></div></li>
								<li><div class="li1 w3-agile">Birthday</div><div class="li2">:</div><div class="li3">10/10/1990</div><div class="clearfix"></div></li>
								<li><div class="li1">Phone</div><div class="li2 w3-agile">:</div><div class="li3">001-8766488735</div><div class="clearfix"></div></li>
								<li><div class="li1">Email</div><div class="li2">:</div><div class="li3"><a class="mail" href="mailto:mail@example.com">info@example.com</a></div><div class="clearfix agile"></div></li>
								<li><div class="li1">Website</div><div class="li2">:</div><div class="li3"><a href="#">www.examplesite.com</a></div><div class="clearfix"></div></li>
								<li><div class="li1 w3-agile">Address</div><div class="li2">:</div><div class="li3">Parma Via Modena, 40019, Sant'Agata Bolognese, BO, Italy</div><div class="clearfix"></div></li>
							</ul>
						</div>
						<div class="clear"></div>
						<div class="social-icons w3layouts agileits">
							<h4>Follow Me on</h4>
							<ul>
								<li class="fb w3ls w3layouts agileits"><a href="#"><span class="icons w3layouts agileits"></span><span class="text w3layouts agileits">Facebook</span></a></li>
								<li class="twt w3ls w3layouts agileits"><a href="#"><span class="icons w3layouts agileits"></span><span class="text w3layouts agileits">Twitter</span></a></li>
								<li class="ggp w3ls w3layouts agileits"><a href="#"><span class="icons w3layouts agileits"></span><span class="text w3layouts agileits">Google+</span></a></li>
							</ul>
						</div>
					</div>
					<div class="clear"></div>

				</div>
				<div class="clear w3-agile"></div>

			</div>

		</div>

		<div class="w3lsfooteragileits">
			<p> &copy; 2017 Multi Tabs Resume. All Rights Reserved | Design by <a href="http://w3layouts.com" target="=_blank">W3layouts</a></p>
		</div>



		<!-- Necessary-JavaScript-Files-&-Links -->

			<!-- Tabs-JavaScript -->
				<script src="js/easyResponsiveTabs.js"></script>
				<script type="text/javascript">
					$(document).ready(function () {
						$('#horizontalTab').easyResponsiveTabs({
							type: 'default',
							width: 'auto',
							fit: true,
							closed: 'accordion',
							activate: function(event) {
								var $tab = $(this);
								var $info = $('#tabInfo');
								var $name = $('span', $info);
								$name.text($tab.text());
								$info.show();
							}
						});
						$('#verticalTab').easyResponsiveTabs({
							type: 'vertical',
							width: 'auto',
							fit: true
						});
					});
				</script>
			<!-- //Tabs-JavaScript -->


		<!-- //Necessary-JavaScript-Files-&-Links -->



	</body>
	<!-- //Body -->

</html>